
body {
    font-family: system-ui;
    background: grey;
    color: black;
    text-align: center;
  }
  :root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    position: relative;
    width: 501px;
    height:501px;
    margin: auto;
  }
  
  .grid-item {
    text-align: center;
  }
  